.header {
    grid-row: 1;
    grid-column: 1;
}
.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-4) 0px;
}
.headerLogo {
    display: flex;
    align-items: center;
    line-height: 1;
}
.headerImg {
    margin-right: 1.5em;
}